.table-condensed{
    font-size: 14px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  th, td {
    text-align: left;
    padding: 16px;
  }

